:root {
    /* change the values below to your colors from your palette */
    --primary-color: #144266;
    --secondary-color: #78c4d7;
    --accent1-color: rgb(3, 118, 61);
    --accent2-color: #ddfcad;

    /* change the values below to your chosen font(s) */
    --heading-font: Palatino, Georgia, serif;
    --paragraph-font: "Trebuchet MS", Arial, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #144266; /* headlines on a white background */
    --headline-color-on-color: white; /* headlines on a colored background */
    --paragraph-color-on-white: #144266; /* paragraph text on a white background */
    --paragraph-color-on-color: white; /* paragraph text on a colored background */
    --paragraph-background-color: #144266;
    --nav-link-color: #144266;
    --nav-background-color: #78c4d7;
    --nav-hover-link-color: #144266;
    --nav-hover-background-color: #ddfcad;
}

body {
    background-color: #fcfdfd;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: var(--secondary-color);
    color: white;
    display: grid;
    grid-template-columns: 150px auto;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: var(--nav-hover-background-color);
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
    color: var(--headline-color-on-color);
    font-family: var(--heading-font);
}

#hero-img {
    width: 100%;
}

.home-title {
    color: var(--headline-color-on-color);
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

.button-box {
    text-align: center;
}

/* main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
} */

.rivers {
    background-color: rgba(3, 118, 61, 0.6);
    padding: 50px;
}

.rivers h2 {
    color: var(--headline-color-on-color);
    font-family: var(--heading-font);
    text-align: center;
  }
  
  .rivers p {
    color: var(--paragraph-color-on-color);
    font-size: 0.8em;
    line-height: 1.5em;
    font-family: var(--paragraph-font);
    padding-bottom: 15px;
  }

.picture {
    grid-area: picture;
}

.picture img {
    width: 100%;
    height: 100%;
}

.content {
    grid-area: content;
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    grid-area: header;
}

.wrapper1 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2 1fr);
    grid-template-areas:
        "picture picture header header"
        "picture picture content content";
}

.wrapper2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2 1fr);
    grid-template-areas:
        "header header picture picture"
        "content content picture picture";
}


/* Media Queries */

@media screen and (max-width: 900px) {
    #hero,
    .home-grid {
        display: block;
        height: auto;
    }
    nav,
    footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
