<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>

    <meta
      name="description"
      content="A simple HTML5 Template for new projects."
    />
    <meta name="author" content="Vern Wolfley" />

    <!-- Open Graph Meta Elements for Social Cards -->
    <meta property="og:title" content="A Basic HTML5 Template" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://www.sitepoint.com/a-basic-html5-template/"
    />
    <meta
      property="og:description"
      content="A simple HTML5 Template for new projects."
    />
    <meta property="og:image" content="image.png" />

    <!-- Favicons and Touch Icons -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="theme-color" content="">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="style.css?v=1.0" />
  </head>
  <body>
    <!-- your content here... -->
  </body>
</html>
