:root {
    /* change the values below to your colors from your palette */
    --primary-color: #750e23;
    --secondary-color: #c1b6a8;
    --accent1-color: #212c64;
    --accent2-color: #ededed;
    --accent3-color: #221a08;

    /* change the values below to your chosen font(s) */
    --heading-font: "Minion Pro Regular Bold", Times New Roman, serif;
    --paragraph-font: "Helvetica Neue Condensed", "Helvetica Neue", Calibri, Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--accent1-color); /* headlines on a white background */
    --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */
    --paragraph-color-on-white: var(--accent1-color); /* paragraph text on a white background */
    --paragraph-color-on-color: var(--accent2-color); /* paragraph text on a colored background */
    --paragraph-background-color: var(--accent2-color); /* paragraph background color */
    --nav-link-color: var(--accent2-color);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--accent2-color);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #ffffff;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-white);
}

main section img {
    box-sizing: border-box;
}

h1 {
    font-family: var(--heading-font);
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 10px;
}
h2 {
    font-family: var(--heading-font);
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 10px;
}
h3 {
    font-family: var(--heading-font);
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 10px;
}
h4 {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 10px;
}
h5 {
    font-family: var(--heading-font);
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 10px;
}
h6 {
    font-family: var(--heading-font);
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 10px;
}

p {
    font-family: var(--paragraph-font);
    line-height: 1.6;
    margin-bottom: 10px;
}

ul {
    font-family: var(--paragraph-font);
    padding: 1rem;
}

.body-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

/* Header and Nav bar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
}

.logo_link {
    display: flex;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 100px;
    padding: 5px 0;
}

.title h4 {
    color: var(--headline-color-on-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--nav-link-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.15rem;
    padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.nav-links li a.active {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

/* Hero Section */

.hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    height: 700px;
}

.hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
}

#home .hero-msg h1 {
    font-size: 3rem;
    text-align: center;
}

#roster .hero-msg h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--headline-color-on-color);
}

#schedule .hero-msg h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--headline-color-on-color);
}

#home .hero-msg h2 {
    color: var(--headline-color-on-white);
    font-size: 2rem;
    text-align: center;
}

#roster .hero-msg h2 {
    color: var(--headline-color-on-color);
    font-size: 2rem;
    text-align: center;
}

#schedule .hero-msg h2 {
    color: var(--headline-color-on-color);
    font-size: 2rem;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: 700px;
}

/* Footer Styles */

footer {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 25px 50px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: var(--nav-hover-background-color);
}

footer p {
    font-size: 1.2rem;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    justify-self: center;
    align-self: center;
    width: 40px;
    height: 40px;
}

footer .nav-links {
    width: 100%;
}

footer .nav-links a {
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: normal;
    padding: 10px 12px;
}

/* Welcome Section */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--accent1-color);
    color: var(--paragraph-background-color);
}
.content-box {
    margin: 50px;
    padding: 25px;
}

.content-box h2 {
    margin-top: 0;
}

/* Philosophy Section */

.philosophy {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
    margin: 50px;
    padding: 25px;
}

.philosophy .box1 {
    grid-column: 1/9;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.philosophy .box1 h2 {
    margin-top: 0;
}

.philosophy .box2 {
    grid-column: 10/13;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.philosophy .box2 .border {
    border-left: 5px solid var(--secondary-color);
    padding-left: 25px;
}

blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}

blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    float: right;
    font-size: 6em;
    line-height: 1;
    right: 0;
    bottom: -0.5em;
    content: "\201D";
}

blockquote cite {
    padding: 0 2em 0 0;
    text-align: right;
}
blockquote cite:before {
    content: "\2014 \2009";
}

/* Sportsmanship Section */

.sportsmanship {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin: 50px;
    padding: 25px;
}
.sportsmanship img {
    grid-column: 1/5;
    grid-row: 1/2;
    width: 350px;
    height: 350px;
}

.sportsmanship .content-area {
    grid-column: 5/13;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Photo Area */

.photo-area {
    background-color: var(--accent1-color);
}

.photo-area .content-box {
    display: flex;
    justify-content: space-evenly;
}

.photo-area img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid var(--accent2-color);
}

/* Roster Section */

.roster-area {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
    margin: 50px;
    padding: 25px;
}

.roster-area .definitions {
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 25px;
}

.roster-area .definitions h3,
h4 {
    margin: 0;
}
.roster-area .definitions ul {
    margin-top: 0;
    margin-bottom: 5px;
}

.roster-area .player-list {
    grid-column: 6/13;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    grid-row-gap: 5px;
}
.roster-area .player-list h3 {
    margin-top: 0;
}

/* Player */

.player {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1, 1fr;
}

.player .number {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    text-align: center;
}
.player .player-stats {
    grid-column: 3/13;
    grid-row: 1/1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2, 1fr;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: var(--secondary-color);
}
.player .player-stats .name {
    grid-column: 1/13;
    grid-row: 1/1;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    justify-self: start;
}

.player .player-stats .position-head {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 0.75rem;
    text-align: center;
    margin: 0;
}
.player .player-stats .position {
    grid-column: 2/4;
    grid-row: 3/4;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.player .player-stats .year-head {
    grid-column: 4/6;
    grid-row: 2/3;
    font-size: 0.75rem;
    text-align: center;
    margin: 0;
}
.player .player-stats .year {
    grid-column: 4/6;
    grid-row: 3/4;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.player .player-stats .weight-head {
    grid-column: 6/8;
    grid-row: 2/3;
    font-size: 0.75rem;
    text-align: center;
    margin: 0;
}
.player .player-stats .weight {
    grid-column: 6/8;
    grid-row: 3/4;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.player .player-stats .height-head {
    grid-column: 8/10;
    grid-row: 2/3;
    font-size: 0.75rem;
    text-align: center;
    margin: 0;
}
.player .player-stats .height {
    grid-column: 8/10;
    grid-row: 3/4;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

/* Schedule Page */

.info-section {
    margin: 25px;
    padding: 25px;
    text-align: center;
}

.team-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 25px;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 15px;
}

.stats-box {
    width: 120px;
    margin: 15px;
    padding: 15px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    border: 3px solid var(--accent2-color);
    border-radius: 15px;
}
.stats-box h3 {
    margin-top: 0;
}

.schedule-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px;
    padding: 25px;
    text-align: center;
}
.schedule-area h2 {
    margin-top: 0;
}
.game {
    background-color: var(--secondary-color);
    border-radius: 15px;
}
.game-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    text-align: center;
}
.game-stats img {
    width: 60px;
    height: 60px;
}
.game-stats h5 {
    margin: 0;
}
.game-stats .game-time {
    width: 160px;
    padding: 15px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    border: 3px solid var(--accent2-color);
    border-radius: 15px;
}
.game-stats .game-time .date {
    font-size: 1.25em;
    font-weight: 800;
}
.game-stats .game-time .time {
    font-size: 1em;
    font-weight: 600;
}
.game-stats .opponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.game-stats .score-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    border: 3px solid var(--accent2-color);
    border-radius: 15px;
}
.game-stats .wl {
    font-size: 2em;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
}
.game-stats .score {
    font-size: 1.25em;
    font-weight: 600;
}
