:root {
    /* change the values below to your colors from your palette */
    --primary-color: #750e23;
    --secondary-color: #c1b6a8;
    --accent1-color: #212c64;
    --accent2-color: #ededed;
    --accent3-color: #221a08;

    /* change the values below to your chosen font(s) */
    --heading-font: "Minion Pro Regular Bold", Times New Roman, serif;
    --paragraph-font: "Helvetica Neue Condensed", "Helvetica Neue", Calibri, Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--accent1-color); /* headlines on a white background */
    --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */
    --paragraph-color-on-white: var(--accent1-color); /* paragraph text on a white background */
    --paragraph-color-on-color: var(--accent1-color); /* paragraph text on a colored background */
    --paragraph-background-color: var(--accent2-color); /* paragraph background color */
    --nav-link-color: var(--accent2-color);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--accent2-color);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #ffffff;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-white);
}

main section img {
    box-sizing: border-box;
}

h1 {
    font-family: var(--heading-font);
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 10px;
}
h2 {
    font-family: var(--heading-font);
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 10px;
}
h3 {
    font-family: var(--heading-font);
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 10px;
}
h4 {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 10px;
}
h5 {
    font-family: var(--heading-font);
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 10px;
}
h6 {
    font-family: var(--heading-font);
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 10px;
}

p {
    font-family: var(--paragraph-font);
    line-height: 1.6;
    margin-bottom: 10px;
}

ul {
    font-family: var(--paragraph-font);
    padding: 1rem;
}

.body-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

/* Header and Nav bar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
}

.logo_link {
    display: flex;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 100px;
    padding: 5px 0;
}

.title {
    color: var(--headline-color-on-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.55rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--nav-link-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.15rem;
    padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.nav-links li a.active {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

/* Hero Section */

.hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    height: 700px;
}

.hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
}

.hero-msg h1 {
    font-size: 3rem;
    text-align: center;
}

.hero-msg h2 {
    color: var(--headline-color-on-white);
    font-size: 2rem;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: 700px;
}

/* Footer Styles */

footer {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 25px 50px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: var(--nav-hover-background-color);
}

footer p {
    font-size: 1.2rem;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    justify-self: center;
    align-self: center;
    width: 40px;
    height: 40px;
}

/* Welcome Section */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--secondary-color);
    color: var(--paragraph-color-on-color);
}
.content-box {
    margin: 50px;
    padding: 25px;
}

.content-box h2 {
    margin-top: 0;
}

/* Philosophy Section */

.philosophy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    padding: 25px;
    column-gap: 50px;
}

.philosophy .box1 {
    display: flex;
    flex-direction: column;
}
.philosophy .box1 h2 {
    margin-top: 0;
}

.philosophy .box2 {
    display: flex;
    align-content: center;
    border-left: 5px solid var(--secondary-color);
}
blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}

blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}

blockquote cite {
    padding: 0 2em 0 0;
    text-align:right;
}
blockquote cite:before {
    content: "\2014 \2009";
    }

/* Sportsmanship Section */

.sportsmanship {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.photo-area{
    background-color: var(--accent1-color);
}

.photo-area .content-box{
    display: flex;
    justify-content: space-evenly;
}

.photo-area img {
    width:  300px;
    height: 300px;
    object-fit: cover;
}
